body {
  overflow-x: hidden;
}
.banner {
  background-image: url("../images/bannerr2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
  overflow-x: hidden;
  filter: grayscale(0.3);
}
.about {
  color: white;
  font-weight: 700;
  font-family: chivo mono;
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 60px;
  word-spacing: -2px;
  text-align: center;
}
.about-short {
  color: white;
  text-align: center;
}

.red {
  border: 2px solid red;
}
.yellow {
  border: 2px solid yellow;
}
.seller-head {
  text-align: center;
  color: rgb(53, 61, 94);
  padding-top: 50px;
  font-size: 35px;
  font-weight: 600;
}
.seller-para {
  width: 50%;
  text-align: center;
  color: rgb(53, 61, 94);
  margin: 30px auto;
  font-weight: 500;
  font-size: 17px;
}
.set {
  display: flex;
  align-items: center;
}
.set .glyphicon {
  font-size: 24px;
  margin-right: 15px;
}
.set .text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card1 {
  margin-left: 45px;
  border: 1px solid rgba(128, 128, 128, 0.329);
}
.card2 {
  margin-left: 20px;
  border: 1px solid rgba(128, 128, 128, 0.329);
}
.card1,
.card2 {
  border-radius: 10px;
  background-color: rgb(247, 247, 247);
}
.bt {
  margin-bottom: 32px;
}
.map {
  margin-top: 50px;
}

