body {
  overflow-x: hidden;
}
.banner {
  background-image: url("../images/banner2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
  overflow-x: hidden;
  filter: grayscale(0.3);
}
.about {
  color: white;
  font-weight: 700;
  font-family: chivo mono;
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 60px;
  word-spacing: -2px;
  text-align: center;
}
.about-short{
  color: white;
  text-align: center;
}
.red {
  border: 2px solid red;
}
.yellow {
  border: 2px solid yellow;
}

.map1{
  background-image: url(../images/map1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  height: 100%vh;
}
.map1 img{
  width: 100%;
  height: auto;
}
.left {
  margin-left: 20px;
  margin-top: 50px;

}
.right {
  margin-right: 20px;
  margin-top: 50px;

}
.world-map {
  margin-top: 50px;
  margin-top: 0px;
  font-weight: 600;
}
@keyframes appear {
  from{
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
.ani {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0;
}
.scroll {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  position: sticky;
  top: 0;
}
.asia{
  background-color: #bd4d52;  
}
.europe{
  background-color: #447ab4;
}
.america {
  background-color: #5eb161;
}
.bt{
  background-color: black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
  margin-top: 20px;
  width: 15%;
  height: 5%;
  box-shadow: 2px 2px 2px #1d1c1c;
  transition: transform 0.3s;
}
.pk{
  color: white;
}
.bt:hover,
.pk:hover{
  text-decoration: underline;
  color: white;
  text-decoration-thickness: 0.025cm;
  text-underline-offset: 3px;
}
.bt:hover{
  box-shadow: 3px 3px 2px #1a1818;
  transform: translateY(3px);
}
.second {
  margin-top: 30px;
  background-color: #095859;
}
.con {
  margin-top: 50px;
}
.ser {
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  box-shadow: 5px 5px 2px #212929;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
.ser img{
  position: relative;
  top: -30px;
  margin-bottom: 0%;
}
.ser h4{
  margin-top: -20px;
  color: #16191a;
  text-align: center;
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
}
.ser p{
  text-align: center;
  font-weight: 500;
  margin-top: 15px;
}