body {
  background-image: url(../images/pexels-quang-nguyen-vinh-222549-2161449.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}
.navigation {
  border-radius: 20px;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  border: none;
}
.memory {
  color: white;
  font-weight: 700;
  font-family: chivo mono;
  padding-top: 50px;
  font-size: 60px;
  word-spacing: -2px;
  text-align: center;
}
.welcome {
  margin-top: 10px;
  background-color: rgba(54, 50, 50, 0.11);
  backdrop-filter: blur(5px);
  border: none;
  border-radius: 5px;
  padding-bottom: 20px;
}
.journey {
  color: white;
  font-weight: 500;
}
hr {
  width: 80%;
  margin: auto;
  align-items: center;
  margin-top: 30px;
}
.carousel {
  margin-top: 60px;
}
.package {
  color: white;
  font-weight: 500;
  font-family: chivo mono;
}
.caption {
  background-color: rgba(54, 50, 50, 0.11);
  backdrop-filter: blur(5px);
  border: none;
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 30px;
  margin: 5px;
  transition: background-color 0.5s ease, transform 0.5s ease;
}
.caption:hover {
  background-color: rgba(26, 24, 24, 0.562);
  backdrop-filter: blur(5px);
  transform: scale(1.03);
  z-index: 10;
  position: relative;
}
.country {
  color: white;
  cursor: pointer;
}
.country:hover {
  color: aliceblue;
}
.info {
  color: white;
  font-size: smaller;
  font-family: poppins;
}
.info:hover {
  cursor: default;
}
