body {
  overflow-x: hidden;
}
.banner {
  background-image: url("../images/banner7.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
  overflow-x: hidden;
  filter: grayscale(0.3);
}
.about {
  color: white;
  font-weight: 700;
  font-family: chivo mono;
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 60px;
  word-spacing: -2px;
  text-align: center;
}
.about-short {
  color: white;
  text-align: center;
}

fieldset{
  border: 2px solid black;
}

.red {
  border: 2px solid red;
}
.yellow {
  border: 2px solid yellow;
}

.faq-head {
  text-align: center;
  color: rgb(53, 61, 94);
  padding-top: 50px;
  font-size: 35px;
  font-weight: 600;
}
.faq-para {
  width: 90%;
  max-width: 600px;
  text-align: center;
  color: rgb(53, 61, 94);
  margin: 30px auto;
  font-weight: 500;
  font-size: 17px;
}

.faq-dropdown {
  margin-bottom: 15px;
}

.faq{
  text-align: left;
  width: 100%;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  font-weight: 500;
  color: #333;
  border-radius: 10px;
  margin-top: 20px;
  padding: 0 20px;
}

.faq:hover {
  background-color: #e7e7e7;
}
.faq dd{
  padding-top: 10px;
  margin-bottom: 0px;
}
.extra {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: rgb(53, 61, 94);
  background-color: rgba(187, 255, 232, 0.288);
  border: 2px solid rgb(201, 255, 236);
  border-radius: 10px;
}
.extra p {
  width: 90%;
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.extra button {
  background-color: rgb(53, 61, 94);
  padding: 6px;
  border-radius: 14px;
  transition: transform 0.3s, background-color 0.3s;
  margin-bottom: 20px;
}

.extra a {
  color: white;
}
.extra button:hover {
  box-shadow: 2px 2px 2px rgb(68, 76, 107);
  transform: translateY(-3px);
  background-color: rgb(38, 44, 68);
  cursor: pointer;
}
.extra a:hover{
  text-decoration: none;
}