* {
  margin: 0%;
  padding: 0%;
  font-family: poppins;
  box-sizing: border-box;
}
@font-face {
  font-family: "logo";
  src: url("../fonts/Taldose-Font-Family/taldose.otf") format("opentype");
}
.container-fluid {
  margin: 0px;
  padding: 0px;
}
.active-new {
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-thickness: 0.025cm;
  text-underline-offset: 3px;
}
.navigation {
  border-radius: 20px;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  border: none;
}
button {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  border-width: 0px;
}
.navbar-brand {
  font-family: logo;
}
ul > li {
  transition: transform 1s, background-color 0.3s, font-size 0.3s;
  border-radius: 20px;
}
ul > li:hover {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  font-size: medium;
}
.custom-cursor {
  cursor: url("../images/cursor.png") 4 4, auto;
}

.footer{
  background-color: rgb(25, 30, 51);
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  margin-top: 20px;
}
.footer h3{
  font-family: logo;
  font-size: 35px;
  color: white;
}
.footer .foot-sec{
  color: white;
}
.footer > p{
  color: rgb(201, 201, 201);
  padding-top: 10px;
}
