body {
  overflow-x: hidden;
}
.banner {
  background-image: url("../images/banner3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
  overflow-x: hidden;
  filter: grayscale(0.3);
}
.about {
  color: white;
  font-weight: 700;
  font-family: chivo mono;
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 60px;
  word-spacing: -2px;
  text-align: center;
}
.about-short {
  color: white;
  text-align: center;
}

.red {
  border: 2px solid red;
}
.yellow {
  border: 2px solid yellow;
}
.seller-head {
  text-align: center;
  color: rgb(53, 61, 94);
  padding-top: 50px;
  font-size: 35px;
  font-weight: 600;
}
.seller-para {
  width: 50%;
  text-align: center;
  color: rgb(53, 61, 94);
  margin: 30px auto;
  font-weight: 500;
  font-size: 17px;
}
.packages-card {
  border-radius: 8px;
  border: 1px solid rgb(207, 207, 207);
  margin-bottom: 30px;
  transition: box-shadow 0.3s ease;
  background-color: #fff;
  padding-bottom: 15px;
  margin-left: 10px;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 10px;
}

.packages-card:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

.image-wrapper {
  position: relative;
}
.country-badge {
  position: absolute;
  top: 2%;
  right: 6%;
  background-color: #475569;
  color: #fff;
  font-size: 13px;
  padding: 4px 10px;
  border-radius: 5px;
  font-weight: 400;
}

.package-content {
  padding: 15px;
  text-align: left;
}

.highlights {
  list-style: none;
  padding-left: 0;
  margin: 10px 0;
}

.highlights li {
  margin-bottom: 5px;
}

.package-footer {
  padding: 0 15px;
  margin-top: 10px;
  border-top: 1px solid #eee;
  padding-top: 15px;
}
.bt {
  padding: 7px 7px;
  background-color: #475569;
  color: white;
  font-weight: 500;
  border-radius: 5px;
  box-shadow: 2px 2px 2px grey;
  transition: transform 0.3s;
}
.bt:hover {
  box-shadow: 3px 3px 2px rgb(94, 94, 94);
  transform: translateY(-3px);
  color: #fff;
  text-decoration: none;
  text-underline-offset: 3px;
  background-color: #526b8f;
}
.price {
  font-size: 20px;
  color: #475569;
  font-weight: bold;
}
.highlights li:hover {
  font-size: 14px;
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}
