body {
  overflow-x: hidden;
}
.red {
  border: 2px solid red;
}
.yellow {
  border: 2px solid yellow;
}
.banner {
  background-image: url("../images/banner5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
  overflow-x: hidden;
  filter: grayscale(0.3);
}
.about-short{
  color: white;
  text-align: center;
}
.service {
  color: white;
  font-weight: 700;
  font-family: chivo mono;
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 60px;
  word-spacing: -2px;
  text-align: center;
}
.second {
  margin-top: 30px;
  background-color: #095859;
}
.con {
  margin-top: 50px;
}
.offer {
  color: #ffffff;
  font-weight: 500;
  font-family: chivo mono;
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
}
.ser {
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  box-shadow: 5px 5px 2px #063738;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
.ser img,
.serv img {
  position: relative;
  top: -30px;
  margin-bottom: 0%;
}
.ser h4,
.serv h4{
  margin-top: -20px;
  color: #095859;
  text-align: center;
}
.ser p,
.serv p{
  text-align: center;
  font-weight: 500;
  margin-top: 15px;
}
.serv {
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-top: 50px;
  box-shadow: 5px 5px 2px #063738;
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
.ser:hover,
.serv:hover{
  transform: scale(1.05);
  cursor: auto;
  border-top: 3px solid #052a2b;
}


.third{
  margin-top: 30px;
}
.icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.test {
  margin-top: 30px;
  text-align: center;
  color: #095859;
}
.omn {
  margin-top: 40px;
  margin-bottom: 50px;
}
.test-text{
  padding-top: 10px;
  background-color: #063738;
  margin-top: 20px;
  margin-bottom: 0%;
  color: white;
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px;
  border-left: 5px solid #0b5455;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
@keyframes appear {
  from{
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
.omn {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0;
}